body {
    font-family: "Chakra Petch";
    max-width: 100%;
    margin: 0 auto;
    background-image: url("../imagens/fundo.png");
}

header,
footer {
    background: #343434;
    display: flex;
    height: 12vh;
    position: absolute;
    width: 100%;
    overflow: hidden;
    align-items: center;
}

header {
    box-shadow: 1px 1px 4px #808080;
    top: 0;
}

footer {
    box-shadow: 1px 1px 4px #808080;
    bottom: 0;
}

main {
    height: 76vh;
    margin-top: 12vh;
}

.menu {
    display: flex;
    gap: 15px;
    max-height: 5vh;
    max-width: 50vh;
    position: fixed;
    left: 10vh;
}

.btn {
    background-color: #545454;
    border-radius: 5vh;
    border-color: #ffde59;
    color: #ffde59;
    width: 120px;
    height: 30px;
    font-family: "Goldman";
    font-size: 2.1vh;
}

.btn.destacado {
    background-color: #ffde59;
    border-color: #545454;
    color: #545454;
}

.conteudo {
    height: 76vh;
    align-items: center;
}

.informacoes {
    padding: 5vh 10vh 5vh 10vh;
    height: 76vh;
    font-size: 24px;
    line-height: 40px;
    overflow: auto;
}

.texto {
    /* background-color: rgba(128, 128, 128, 0.5); */
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 1%;
    padding: 1vh;
}

.texto.portfolio .port_img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.port_img img {
    max-height: 100%;
    max-width: 100%;
    width: 500px;
    height: 300px;
    border-color: #ffde59;
    border-width: 1vh;
    border-style: solid;
    border-radius: 25%;
}

.port_img video {
    position: relative;
    max-width: 100%;
    /* width: 54rem; */
    max-height: 38.875rem;
    height: 100%;
    margin: 1.25rem auto;
    margin-bottom: 8vh;
    padding: 1vh;
    background-color: #666;
    border-radius: 2vh;
}

.port_img a {
    width: 500px;
    height: 300px;
    max-width: 100%;
}

.informacoes h1 {
    font-size: 48px;
    letter-spacing: 4px;
    margin-bottom: 40px;
    text-align: center;
    color: #ffde59;
}

.informacoes p {
    letter-spacing: 1.5px;
    text-align: justify;
    color: #ffffff;
    font-weight: bold;
}

.informacoes h6 {
    font-size: xx-large;
    letter-spacing: 1.5px;
    text-align: justify;
    color: #ffde59;
    font-weight: bold;
}

footer .sociais {
    top: 0;
    margin-left: 10vh;
    width: 30vh;
    height: 8vh;
    padding-top: 1vh;
    padding-left: 2vh;
    background-color: #ffde59;
    border-radius: 40vh;
    display: flex;
    flex-direction: column;
}

.sociais p {
    font-size: 2.2vh;
    font-weight: bold;
    margin: 0;
}

footer .sociais-icon {
    height: 2.8vh;
    max-height: 2.8vh;
    max-width: fit-content;
}

.sociais.sociais-icon {
    margin: 0;
    padding: 0;
    gap: 0.5vh;
    width: auto;
    height: auto;
    flex-direction: row;
}

.icon {
    border-radius: 25%;
    height: 2.8vh;
    background-color: #ffffff;
}

.texto.contato {
    color: #ffde59;
    display: flex;
    flex-direction: column;
    max-width: 50vh;
    align-items: center;
}


.box-form {
    background-color: #545454;
    border-radius: 4vh;
    width: 45vh;
    padding: 1vh 2vh 2vh 2vh;
    display: flex;
    flex-direction: column;
}

.box-form h6 {
    font-size: 100%;
}

.form {
    width: 40vh;
    max-width: 100%;
    height: 2.5vh;
    margin-bottom: 1vh;
    display: block;
}

.form.msg {
    height: 10vh;
    max-height: 10vh;
    max-width: 100%;
    margin-top: 1.2vh;
    word-break: normal;
    resize: none;
}

.contato-sociais {
    margin-top: 2vh;
    line-height: normal;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    align-items: center;
}

.tabela-lista table {

    max-width: 100%;
    margin: 20px 0;
    font-size: 2.1vh;
}

.tabela-lista th,
td {
    border: 1px solid #ffde59;
    padding: 8px;
    text-align: left;
    color: #ffde59;

}

.tabela-lista .td-apagar {
    display: contents;
    max-width: 100%;
    align-items: center;
}

.td-apagar .btn {
    margin: 10%;
}

.tabela-lista th {
    background-color: #545454;
}

.lista .menu-lista {
    display: flex;
    gap: 15px;
    position: relative;
}