body{
    font-family: "Chakra Petch";
    max-width: 100%;
    margin: 0 auto;
    background-color:#545454;
}

header, footer {
    background: #343434;
    display: flex;
    align-items: center;
    height: 12vh;
    position: absolute;
    width: 100%;
}

header {
    box-shadow: 1px 1px 4px gray;
    top: 0;
}

footer {
    box-shadow: 1px 1px 4px gray;
    bottom: 0;
}

main {
    height: 76vh;
    margin-top: 14vh;
    margin-left: 10vh;
}

.menu {
    display: flex;
    gap: 15px;
    max-height: 5vh;
    max-width: 50vh;
    position: fixed;
    left: 10vh;
}

.btn {
    background-color:#545454;
    border-radius: 20%;
    border-color: #ffde59;
    color:#ffde59;
    width: 200px;
}